
@{
    ViewBag.Title = "About";
}

@*<h2>About</h2>*@

<html>
<head>
    <style>
        body {
            background-color: #7f1501;
            color: white;
        }

        input {
            background-color: black;
            color: white;
            border-radius: 15px;
            margin: 2px 10px;
            border-style: none;
        }

        table {
            margin: 100px 40%;
        }

        h1 {
            color: black;
        }

        .cover-img1 {
            width: 650px;
            height: 250px;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .cover-img2 {
            width: 650px;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="group-align">
        <div class="col-md-6">
            <br />
            <h1>Zomato</h1>
            <br />
            <p>Zomato is an Indian multinational restaurant aggregator and food delivery company. It was founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in more than 1,000 Indian cities and towns, as of 2022–23. Zomato rivals Swiggy in food delivery and hyperlocal space.</p>
        </div>
        <div class="col-md-6">
            <br />
            <img src="~/images/Zomato-About.jpg" class="cover-img1" />
        </div>
    </div>
    <div class="group-align">
        <div class="col-md-6">
            <br />

            <img src="~/images/Zomato-About 2.jpg" class="cover-img2" />
        </div>
        <div class="col-md-6">
            <br />
            <h1>Who are we?</h1>

            <br />
            <p>Launched in 2010, Our technology platform connects customers, restaurant partners and delivery partners, serving their multiple needs. Customers use our platform to search and discover restaurants, read and write customer generated reviews and view and upload photos, order food delivery, book a table and make payments while dining-out at restaurants. On the other hand, we provide restaurant partners with industry-specific marketing tools which enable them to engage and acquire customers to grow their business while also providing a reliable and efficient last mile delivery service. We also operate a one-stop procurement solution, Hyperpure, which supplies high quality ingredients and kitchen products to restaurant partners. We also provide our delivery partners with transparent and flexible earning opportunities.</p>
        </div>
    </div>
</body>
</html>
